/* cover image */
.carousel-caption{
    width:100%;
    height:100%;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.6);
  }
  .carousel-indicators[data-bs-target]{
    width: 70px;
    height: 6px;
}
@media only screen and (max-width:991px){
    .carousel-item{
        height: 80vh;
    }
    .carousel-item img{
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
/* explore section color*/
.explore-remark{
  background-color: #F4FAFD;
}
/* Star icon */
.iconremark{
  color: #F59E0B;
}
/* background and text color */
.remarkablecolor{
  background-color: #289BDE;
}
.remark-text{
  color:#289BDE;
}
.anchor{
  text-decoration: none;
}
footer{
  background-color: black;
}


/*  */
.carusel-card {
  background-color:blue;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}